################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo

/YenePayNopPlugin/source/3.6/Nop.Plugin.Payments.YenePayCheckout/obj
/YenePayNopPlugin/source/3.6/Nop.Plugin.Payments.YenePayCheckout/bin
